
$color-accent: #2196f3;
$color-title: #212121;
$color-primary-white: #ffffff;
$color-primary-text: #757575;
$color-background-black: #2f303a;
$color-background-gray: #f5f4fa;
$color-button-filter: #f5f4fa;
$color-button-hover: #188ce8;
$color-logo-black: #000000;
$color-text-white-opacy: #ffffff99;
$color-icon: #AFB1B8;